
.logoimg{
    width: 70%;
    height: 70%;
    margin-left: 20%;
}
.tm-content-box.flex-2-col{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p:nth-child(1){
    font-style: italic;
}


.flex-item{
    align-content: flex-end;
}

h2+p{
    font-style: italic;
}

.padding-medium.flex-item.tm-team-description-container.flex-item h2+p:first-letter,
.padding-medium.flex-item.tm-team-description-container.flex-item h2+p+p:first-letter{
    color: lightskyblue;
    font-size: 30px;
    margin-left: 20px
}

.padding-medium.flex-item.tm-team-description-container.flex-item h2+p,
.padding-medium.flex-item.tm-team-description-container.flex-item h2+p+p{
    line-height: 200%;
}

#about :hover{
    color: #f5f5f5;
    background-color:rgb(121, 209, 125);
    font-weight: bold;
}

#home{
    background-color: transparent;
}

.tm-banner-inner{
    background-color: #fff;
}

.tm-sidebar, .tm-content-box{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

section::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 0 solid transparent;
    border-left: 245px solid rgb(135, 250, 169);;
}

.carousel-item.active .carousel-content .flex-item h2{
    color: gainsboro;
    letter-spacing: 5px;
}

.tm-content-box div ol li:nth-child(1)::after, .tm-content-box div ol li:nth-child(3)::after{
    content: "New";
    color: red;
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    font-variant: small-caps;
}

.heading.tm-content-box .padding-medium ol li a:visited{
    text-decoration: underline solid;
    color: black;
}

.heading.tm-content-box .padding-medium ol li a{
    color: black;
}

.heading.tm-content-box .padding-medium ol li a:hover{
    text-decoration: underline;
    color:lightskyblue;
    border-bottom: 1.5px solid lightskyblue;
}



