#logo_img{
   border-radius: 30%;
}
.logoimg{
    width: 70%;
    height: 70%;
    margin-left: 20%;
}
.tm-content-box.flex-2-col{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p:nth-child(1){
    font-style: italic;
}


.flex-item{
    align-content: flex-end;
}

h2+p{
    font-style: italic;
}
.tm-banner-text{
    font-style: italic;
    font-size: 1.7em;
    font-weight: bolder;
    color: rgb(124, 156, 129);
}
.download{
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 3%;
    font-size: 1.7em;
    color: rgb(124, 156, 129);
    border-radius: 10%;
    border: 2px solid rgb(124, 156, 129);
}
.download:hover{
    color: rgb(124, 156, 129);
    border: 2px solid rgb(124, 156, 129);
    background-color: rgb(226, 241, 241);
    font-style: italic;
}
.info_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 80px;
    background-color: rgb(124, 156, 129);;
}
.info_top_text{
    margin-top: 1%;
    align-self: flex-end;
    margin-right:15%;
    font-size: 2.0em;
    letter-spacing: 0.3em;
    font-style: italic;
    color: cornsilk;
}
#logo_img_top{
    border-radius: 40%;
    margin-top: -4%;
    align-self: flex-end;
    margin-right: 5%;

}
.tm-main-content{
    margin-top: 10%;
}
.padding-medium.flex-item.tm-team-description-container.flex-item h2+p:first-letter,
.padding-medium.flex-item.tm-team-description-container.flex-item h2+p+p:first-letter{
    color: lightskyblue;
    font-size: 30px;
    margin-left: 20px
}

.padding-medium.flex-item.tm-team-description-container.flex-item h2+p,
.padding-medium.flex-item.tm-team-description-container.flex-item h2+p+p{
    line-height: 200%;
}

#about :hover{
    color: #f5f5f5;
    background-color:rgb(121, 209, 125);
    font-weight: bold;
}

#home{
    background-color: transparent;
}
.tm-nav-item:hover{
    background-color:rgb(197, 233, 199);
}
.tm-banner-inner{
    background-color: #fff;
}

.tm-sidebar, .tm-content-box{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

section::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 0 solid transparent;
    border-left: 245px solid rgb(135, 250, 169);;
}

.carousel-item.active .carousel-content .flex-item h2{
    color: gainsboro;
    letter-spacing: 5px;
}

.tm-content-box div ol li:nth-child(1)::after, .tm-content-box div ol li:nth-child(3)::after{
    content: "New";
    color: red;
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    font-variant: small-caps;
}

.heading.tm-content-box .padding-medium ol li a:visited{
    text-decoration: underline solid;
    color: black;
}

.heading.tm-content-box .padding-medium ol li a{
    color: black;
}

.heading.tm-content-box .padding-medium ol li a:hover{
    text-decoration: underline;
    color:lightskyblue;
    border-bottom: 1.5px solid lightskyblue;
}



