<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029452629879-qs3em24itmqupkai3ecmckr77tl7ptpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029452629879-qs3em24itmqupkai3ecmckr77tl7ptpd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029452629879-18m4m4d5rqhqdh0dbt2f87bteptst0bf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDt4KbJ49AojosDHtaD5lprqWYD4WjQa4s</string>
	<key>GCM_SENDER_ID</key>
	<string>1029452629879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poPsy</string>
	<key>PROJECT_ID</key>
	<string>popsy-95eb1</string>
	<key>STORAGE_BUCKET</key>
	<string>popsy-95eb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029452629879:ios:b7acf5360c29200d0c4372</string>
</dict>
</plist>